.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li {
margin:0 .5em 0 0;
display:inline;
vertical-align:bottom;
cursor:pointer;
zoom:1;
}

.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li {
margin:0 0 .5em;
display:block;
}

.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav {
width:6em;
position:absolute;
z-index:1;
}

.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav {
width:auto;
position:static;
}

.yui-navset .yui-navset-left,.yui-navset-left {
padding:0 0 0 6em;
}

.yui-navset-right {
padding:0 6em 0 0;
}

.yui-navset-top,.yui-navset-bottom {
padding:auto;
}

.yui-nav,.yui-nav li {
margin:0;
padding:0;
list-style:none;
}

.yui-navset li em {
font-style:normal;
}

.yui-navset {
position:relative;
zoom:1;
}

.yui-navset .yui-content {
zoom:1;
}

.yui-navset .yui-content:after {
content:'';
display:block;
clear:both;
}

.yui-navset .yui-nav a {
position:relative;
}

.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a {
display:inline-block;
vertical-align:bottom;
zoom:1;
}

.yui-navset-bottom .yui-nav li a {
vertical-align:text-top;
}

.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav {
left:0;
right:auto;
}

.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav {
right:0;
left:auto;
}

.yui-overlay,.yui-panel-container {
visibility:hidden;
position:absolute;
z-index:2;
}

.mask {
right:0;
bottom:0;
z-index:1;
display:none;
position:absolute;
top:0;
left:0;
-moz-opacity:.5;
opacity:.50;
filter:alpha(opacity=50);
background-color:#CCC;
}

.masked select,.drag select,.hide-select select {
_visibility:hidden;
}

.yui-panel-container select {
_visibility:inherit;
}

.yui-panel-container.shadow .underlay.yui-force-redraw {
padding-bottom:1px;
}

.yui-tt-shadow {
position:absolute;
display:none;
}

.yui-override-padding {
padding:0!important;
}

.yui-panel-container .container-close {
overflow:hidden;
text-indent:-10000em;
text-decoration:none;
}

.yui-tt {
visibility:hidden;
position:absolute;
color:#333;
background-color:#FDFFB4;
font-family:arial,helvetica,verdana,sans-serif;
padding:2px;
border:1px solid #FCC90D;
font:100% sans-serif;
width:auto;
}

* html div.yui-panel-container select {
visibility:inherit;
}

.yui-panel-container .underlay {
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
}

.yui-panel-container.matte {
padding:3px;
background-color:#fff;
}

.yui-panel-container.shadow .underlay {
top:3px;
bottom:-3px;
right:-3px;
left:3px;
background-color:#000;
opacity:.12;
filter:alpha(opacity=12);
}

.yui-panel {
visibility:hidden;
border-collapse:separate;
position:relative;
left:0;
top:0;
font:1em Arial;
background-color:#FFF;
border:1px solid #000;
z-index:1;
overflow:hidden;
}

.yui-panel .hd {
background-color:#3d77cb;
color:#FFF;
font-size:100%;
line-height:100%;
border:1px solid #FFF;
border-bottom:1px solid #000;
font-weight:700;
padding:4px;
white-space:nowrap;
}

.yui-panel .bd {
overflow:hidden;
padding:4px;
}

.yui-panel .bd p {
margin:0 0 1em;
}

.yui-panel .container-close {
position:absolute;
top:5px;
right:4px;
z-index:6;
height:12px;
width:12px;
margin:0;
padding:0;
background:url(../images/close12_1.gif) no-repeat;
cursor:pointer;
visibility:inherit;
text-indent:-10000em;
overflow:hidden;
text-decoration:none;
}

.yui-panel .ft {
padding:4px;
overflow:hidden;
}

.yui-simple-dialog .bd .yui-icon {
background-repeat:no-repeat;
width:16px;
height:16px;
margin-right:10px;
float:left;
}

.yui-simple-dialog .bd span.blckicon {
background:url(../images/blck16_1.gif) no-repeat;
}

.yui-simple-dialog .bd span.alrticon {
background:url(../images/alrt16_1.gif) no-repeat;
}

.yui-simple-dialog .bd span.hlpicon {
background:url(../images/hlp16_1.gif) no-repeat;
}

.yui-simple-dialog .bd span.infoicon {
background:url(../images/info16_1.gif) no-repeat;
}

.yui-simple-dialog .bd span.warnicon {
background:url(../images/warn16_1.gif) no-repeat;
}

.yui-simple-dialog .bd span.tipicon {
background:url(../images/tip16_1.gif) no-repeat;
}

.yui-dialog .ft,.yui-simple-dialog .ft {
padding-bottom:5px;
padding-right:5px;
text-align:right;
}

.button-group button {
font:100 76% verdana;
text-decoration:none;
background-color:#E4E4E4;
color:#333;
cursor:hand;
vertical-align:middle;
border:2px solid #797979;
border-top-color:#FFF;
border-left-color:#FFF;
margin:2px;
padding:2px;
}

.button-group button:hover,.button-group button.hover {
border:2px solid #90A029;
background-color:#EBF09E;
border-top-color:#FFF;
border-left-color:#FFF;
}

.button-group button:active {
border:2px solid #E4E4E4;
background-color:#BBB;
border-top-color:#333;
border-left-color:#333;
}

.community a {
color:#018BE3;
}

h1 {
color:#333;
font-size:32px;
margin:0;
padding:0;
}

#modules {
padding-top:0;
width:926px;
}

#modules .module {
width:915px;
padding:0;
}

.module .header {
clear:both;
color:#FFF;
font-size:14px;
line-height:47px;
width:auto;
}

.module .content {
width:875px;
}

table {
margin-bottom:-1px;
}

table th {
background:#7a7a7a;
border:none;
color:#FFF;
font-size:14px;
font-weight:700;
padding:15px 20px;
}

table td {
background-position:left bottom;
border:none;
font-size:14px;
line-height:19px;
padding:10px 20px;
vertical-align:middle;
}

table td.forum span,table td.topic span {
display:block;
word-wrap:break-word;
}

table td.topicscount,table td.postscount {
vertical-align:middle;
}

table td.lastpost span {
display:block;
font-size:12px;
line-height:17px;
}

table td.lastpost span.poster {
font-family:Georgia,serif;
font-style:italic;
}

.form {
width:95%;
}

.buttonform {
width:100%;
}

.path {
margin-top:10px;
}

#forumsearchresult {
font-size:15px;
}

#forumsearchresult a {
font-size:16px;
}

#forumsearchresult ul li {
margin-bottom:15px;
width:600px;
font-size:15px;
}

#forumsearchresult em {
font-weight:700;
font-style:normal;
background-color:#FFF7A5;
padding:0 4px;
}

#contenthead .controls {
background:url(../images/dot_line.gif) repeat-x left bottom;
color:#909090;
font-size:14px;
height:45px;
line-height:16px;
margin:0 -20px 20px;
margin-top:-5px!important;
padding:0 20px;
}

#contenthead .controls a.searchcommunity {
background:url(../images/magnifier.gif) no-repeat left center;
line-height:16px;
padding:1px 0 1px 20px;
}

#contenthead .form {
width:auto;
}

.userprofile {
float:left;
width:100px;
word-wrap:break-word;
}

.userprofile a {
display:block;
margin-bottom:5px;
}

.userprofile .username {
margin-top:5px;
}

.userprofile a.userphoto img {
border:1px solid #CCC;
padding:1px;
}

.userprofile ul.userstats {
margin:0;
padding:0;
}

.userprofile ul.userstats li {
margin:4px 0;
padding:0;
font-size:12px;
list-style-type:none;
}

.entry {
padding-left:115px;
width:auto;
}

.entry input.text,.entry textarea.textarea {
width:754px;
}

.listcontainer .navigator {
background:#666;
clear:both;
color:#FFF;
font-size:14px;
height:47px;
position:relative;
}

.listcontainer .navigator .pages {
float:left;
padding:15px 20px;
}

.listcontainer .navigator .pages a {
padding:0 1px;
}

.listcontainer .navigator .pages span.stats {
border-left:1px solid #909090;
color:silver;
font-family:Georgia,serif;
font-size:12px;
font-style:italic;
margin-left:10px;
padding:0 10px;
}

.listcontainer .navigator .topics {
float:right;
padding:15px 20px;
}

.listcontainer .navigator a {
color:#3CC;
}

.listcontainer .navigator span.separator {
color:#909090;
padding:0 5px;
}

#postlist .content {
background-position:bottom;
margin-bottom:-1px;
}

#postlist .post {
margin:-8px 0 0 120px;
}

#postlist .post p {
line-height:20px;
margin-bottom:10px;
padding:0;
}

#postlist .post p.stats {
background:url(../images/dot_line.gif) repeat-x left top;
color:#999;
font-size:12px;
margin:15px 0 0;
padding:15px 0 0;
}

.hilit {
background-color:#FF0;
}

.yui-skin-sam .yui-editor-container {
border:1px solid #CCC;
}

.yui-skin-sam .yui-toolbar-container {
background:none;
}

.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont {
border-bottom:1px solid #CCC;
margin:5px;
padding:0 0 5px 1px;
}

.yui-skin-sam .yui-toolbar-container span.yui-toolbar-separator {
height:16px;
background:#CCC;
display:inline;
width:1px;
margin:3px 5px 0 0;
}

.yui-skin-sam .yui-toolbar-container .yui-button {
background:none;
border:none;
width:23px;
}

.yui-skin-sam .yui-toolbar-container .yui-button:hover,.yui-skin-sam .yui-toolbar-container .yui-button.active {
background:#EFEFEF;
border:none;
}

.yui-skin-sam .yui-toolbar-container .yui-button span.yui-toolbar-icon {
background-image:url(../images/editor_sprite.gif);
left:2px;
}

.yui-skin-sam .yui-toolbar-container .yui-button .first-child {
background:none;
border:none;
}

.form .linkbuttoninner {
background:url(../images/gray_button.gif) no-repeat left top;
padding:0 10px;
}

.form .pink {
background:#DDD;
border:1px solid #AC083A;
}

.form .pinkinner {
background:url(../images/pink_button.gif) no-repeat left top;
}

.form .green {
background:#7ACB18;
border:1px solid #7A962F;
}

.form .greeninner {
background:url(../images/green_button.gif) no-repeat left top;
}

.form .linkbutton a {
color:#FFF;
display:block;
font-size:14px;
line-height:29px;
padding:0 20px;
white-space:nowrap;
}

.yui-skin-sam .mask {
opacity:.6;
}

.bclosedialog del {
right:20px;
top:2px;
}

#forumfollownotification .hd {
border:none;
white-space:normal;
background:none;
}

#forumfollownotification .hd .caption {
font-size:20px;
font-weight:700;
padding:0 145px 0 50px;
line-height:normal;
margin-top:20px;
color:#343434;
background:url(../images/gear-icon.gif) no-repeat 20px -2px;
}

#forumfollownotification .hd .description {
color:#666;
font-size:15px;
line-height:18px;
padding-left:50px;
font-weight:400;
}

#forumfollownotification .body {
padding:25px 35px;
}

#forumfollownotification .body li {
margin-bottom:15px;
}

#forumfollownotification .body li div.first {
float:left;
line-height:22px;
width:20px;
}

#forumfollownotification .body li div.last {
padding-left:25px;
}

#forumfollownotification .body li div .name {
font-weight:700;
font-size:14px;
line-height:19px;
color:#343434;
}

#forumfollownotification .body li div .description {
color:#999;
font-style:italic;
font-size:12px;
line-height:19px;
font-family:Georgia,serif;
}

#forumfollownotification {
display:block;
background:#f4f4f4;
text-align:left;
border:none;
}

#forumfollownotification_c .underlay {
background-color:#FFF;
bottom:-10px;
left:-10px;
opacity:1;
position:absolute;
right:-10px;
top:-10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

.ui-switch {
display:block;
width:45px;
height:25px;
white-space:nowrap;
text-indent:-9999px;
overflow:hidden;
background:url(/design/2009-07/images/community/forum-follow-switch.png) no-repeat right top;
}

.ui-switch.haslabel {
display:block;
width:auto;
text-indent:0!important;
text-decoration:none;
line-height:25px;
padding-right:55px;
font-size:14px;
font-weight:700;
color:#c2c2c2;
}

.ui-switch.off {
background-position:right top;
}

.ui-switch.off:hover {
background-position:right -25px;
}

.ui-switch.on {
background-position:right -50px;
}

.ui-switch.on:hover {
background-position:right -75px;
}

.ui-button {
display:inline-block;
height:37px;
cursor:pointer;
padding:0 15px;
line-height:37px;
font-weight:700;
font-size:16px;
color:#fff;
text-decoration:none;
text-shadow:0 -1px 0 rgba(155,0,58,0.7);
border:1px solid #cd024d;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background:linear-gradient(#ff0065,#dc0052);
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}

.ui-button:hover {
text-decoration:none;
background:linear-gradient(#ff6a86,#eb045a);
}

.ui-button.down {
background:linear-gradient(#ff0065,#ca004b);
-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.2);
-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.2);
box-shadow:inset 0 1px 0 rgba(0,0,0,0.2);
}

.no-boxshadow .ui-create-topic-button {
display:block;
width:150px;
height:40px;
padding:0;
overflow:hidden;
text-indent:-9999px;
background:url(/design/2009-07/images/community/btn-create-topic.png) no-repeat right top;
border:none;
}

.no-boxshadow .ui-reply-button {
display:block;
width:109px;
height:40px;
padding:0;
overflow:hidden;
text-indent:-9999px;
background:url(/design/2009-07/images/community/btn-reply.png) no-repeat right top;
border:none;
}

.no-boxshadow .ui-post-button {
display:block;
width:109px;
height:40px;
padding:0;
overflow:hidden;
text-indent:-9999px;
background:url(/design/2009-07/images/community/btn-post.png) no-repeat right top;
border:none;
}

.no-boxshadow .ui-save-button {
display:block;
width:109px;
height:40px;
padding:0;
overflow:hidden;
text-indent:-9999px;
background:url(/design/2009-07/images/community/btn-save.png) no-repeat right top;
border:none;
}

#forums td {
color:#797979;
}

table td.forum span.name,table td.topic span.title {
font-weight:700;
font-size:16px;
}

table td.forum span.description,table td.topic span.forumtitle {
color:#666;
font-size:14px;
font-style:italic;
font-family:Georgia,serif;
}

.tabs {
padding-right:20px;
width:915px;
overflow:hidden;
}

.tabs .label {
float:right;
font-family:Georgia,serif;
color:#acacac;
font-size:13px;
line-height:40px;
font-style:italic;
padding-right:15px;
}

.tabs .tab {
float:right;
margin-left:3px!important;
position:relative;
}

.tab a {
position:relative;
display:block;
text-align:center;
height:40px;
width:100px;
line-height:40px;
padding:0 15px;
padding-bottom:1px;
font-size:14px;
color:#a8a8a8!important;
text-shadow:0 1px #fff;
text-decoration:none;
background:#eee;
border:none;
-webkit-border-radius:6px 6px 0 0;
-moz-border-radius:6px 6px 0 0;
border-radius:6px 6px 0 0;
behavior:url(/js/lib/css3pie/1.0beta4/PIE.htc);
}

.tab a:hover {
background:#F1F1F1;
}

.tab.active a {
font-weight:700;
color:#676766!important;
text-decoration:none;
padding-bottom:0;
border-top:1px solid #dddfdf;
border-left:1px solid #dddfdf;
border-right:1px solid #dddfdf;
background:#e3e4e4;
behavior:url(/js/lib/css3pie/1.0beta4/PIE.htc);
}

#forumfollownotificationlink a {
display:inline-block;
margin-left:10px;
padding-left:17px;
font-weight:700;
font-size:12px;
background:url(/design/2009-07/images/community/gear-icon-small.gif) no-repeat left center;
}

#forumfollownotification .ui-save-button {
margin-left:25px;
}

#leaderboard #contentbody {
padding:0 20px 20px;
}

#leaderboard .leaderboardcell {
width:212px;
border-width:1px;
padding:6px 10px;
font-size:12px;
border-left:1px solid #D8D8D8;
float:left;
}

#leaderboard .leaderboardcell.left {
border-left:0;
display:inline-block;
}

#leaderboard .row {
height:86px;
background:url(../images/layout/dot_line.gif) repeat-x left top;
}

#leaderboard .empty {
text-align:center;
padding:30px 0;
font-size:14px;
}

#leaderboard .bloadmore {
height:52px;
margin-top:30px;
}

#leaderboard .bloadmore #loader {
position:relative;
height:25px;
width:25px;
top:-35px;
left:330px;
}

#leaderboard .bloadmore a {
cursor:pointer;
display:block;
text-align:center;
width:200px;
height:40px;
line-height:40px;
text-decoration:none!important;
margin:0 auto;
color:#2892e4;
font-weight:700;
font-size:16px;
border:1px solid #e5e5e5;
background-color:#fafafa;
text-shadow:none;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

#contentfooter {
padding:20px;
border-top:1px dotted #ccc;
}

.forum table,.forum th,.forum td {
padding:0;
border:0;
background:none;
color:#666;
}

.groupnav {
padding:20px;
border-bottom:1px dotted #ccc;
font-size:14px;
word-wrap:break-word;
}

.groupcategories {
display:block;
overflow:hidden;
clear:both;
padding-top:10px;
}

.yourgroups {
float:left;
}

.publicgroups {
float:right;
}

.groupcategory {
overflow:hidden;
width:430px;
}

.groupheader {
padding:0 0 25px;
}

.groupcategories .groupheader {
padding:15px 0;
}

.grouptype .groupheader {
padding-bottom:15px;
}

.groupheader h2 {
float:left;
max-width:800px;
font-size:30px;
word-wrap:break-word;
}

.groupheader .groupoptions {
float:left;
margin-left:20px;
padding:10px 0;
}

.groupheader .groupoptions li {
float:left;
margin-right:10px;
}

.groupheader .groupoptions li a,.groupheader p.description {
font-size:12px;
}

.groupheader p.description {
clear:both;
margin-top:5px;
word-wrap:break-word;
}

.groupcontent {
display:block;
overflow:hidden;
padding:10px 10px 0;
background:#e3e4e4;
}

.groupcontent .section {
margin-bottom:10px;
background:#fff;
}

.groupcontent .sectionheader,.groupcontent .sectionfooter {
padding:10px 20px;
border:dotted #ccc;
border-width:0 0 1px;
}

.groupcontent .sectionfooter {
border-width:1px 0 0;
}

.groupcontent .sectionheader h3 {
font-size:24px;
}

.groupcontent .resources {
overflow:hidden;
margin-top:30px;
display:block;
}

.groupcontent .resources li {
float:left;
display:inline;
margin-right:25px;
}

.grouplist .groupitem,.grouplist .groupitem li,.grouplist .groupitem a {
font-size:14px;
line-height:1.4;
word-wrap:break-word;
}

.allgroups .grouplist {
display:block;
overflow:hidden;
padding-bottom:20px;
}

.allgroups .grouplist li {
float:left;
overflow:hidden;
width:280px;
height:9em;
padding:20px 20px 0;
word-wrap:break-word;
}

.allgroups .totalmembers {
display:block;
margin-top:5px;
}

.allgroups p.description {
display:block;
font-size:13px;
line-height:1.8;
word-wrap:break-word;
}

.main {
float:left;
display:inline;
overflow:hidden;
width:570px;
margin-right:25px;
}

.groupcontent .sectioncontent .memberlist li {
float:left;
overflow:hidden;
width:50px;
padding:10px;
line-height:2em;
text-align:center;
word-wrap:break-word;
}

.groupcontent .sectioncontent .memberlist li .thumb {
display:block;
widthx:100%;
text-align:center;
}

.groupcontent .sectioncontent .memberlist li .thumb a {
display:inline-block;
cursor:pointer;
}

.groupcontent .sectioncontent .memberlist li a img {
display:block;
margin:0 auto;
}

.groupcontent .sectioncontent .memberlist li a .name {
display:block;
width:50px;
}

#members .memberresources li {
float:left;
padding:0 5px 0 0;
line-height:1.4;
}

#members .memberresources li.alt {
float:right;
padding:0 0 0 5px;
}

.forum .sectionfooter {
border:0;
}

.forum th,.forum td {
padding:10px 20px;
border-bottom:1px dotted #adadad;
}

.forum .topics {
width:60%;
}

.followedlist {
display:inline-block;
overflow:hidden;
padding:10px 10px 0;
background:#e3e4e4;
}

.groupform h1 {
margin-bottom:30px;
font-size:30px;
color:#333;
}

.groupform .field {
margin-bottom:20px;
}

.groupform .field label {
font-size:13px;
color:#666;
cursor:pointer;
}

.groupform .field input.text,.groupform .field textarea {
display:block;
width:430px;
margin-top:10px;
padding:5px;
border:1px solid #ccc;
}

.groupform .field textarea {
height:140px;
}

.groupform fieldset {
padding-top:10px;
}

.groupform .radio label {
margin-left:5px;
font-weight:700;
color:#000;
}

.groupform .radio p {
margin-top:15px;
padding:0 25px;
font-size:12px;
line-height:2em;
}

.groupform .submitbutton {
overflow:visible;
border:0;
vertical-align:middle;
}

.groupform span.text {
font-size:14px;
}

#grouprankings .footnote {
margin-top:7px;
font-size:11px;
text-transform:lowercase;
color:#969696;
}

#groupranknav ul {
position:absolute;
left:-9999px;
}

#groupranknav ul.selected {
position:static;
}

.rankheading li a {
padding:2px 5px;
text-decoration:none;
color:#666;
}

.rankheading li a.selected {
background:#e97493;
color:#fff;
}

#groupstats {
float:left;
display:inline;
margin-right:50px;
}

#grouprankings #viewerstats {
margin-top:30px;
}

#groupaggregate {
margin-top:10px;
border-top:thin solid #ccc;
border-bottom:thin solid #ccc;
padding:5px;
}

table .groupdetails {
background:none repeat scroll 0 0 #F8F8F8;
}

table .groupdetails .title {
font-size:14px;
font-weight:700;
}

table .grouptopics {
padding:10px 0 20px 20px;
}

.arrowbullet {
list-style-image:url(/design/2009-07/images/community/list-arrow.gif);
list-style-position:outside;
}

.yui-navset .yui-content .yui-hidden,.hide-scrollbars select,.yui-effect-fade .underlay,.groupform fieldset legend {
display:none;
}

.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a,.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em,.allgroups .groupname {
display:block;
}

.yui-panel-container form,.yui-dialog form,.yui-simple-dialog form {
margin:0;
}

.mask.block-scrollbars,.show-scrollbars,.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow,.yui-panel-container.show-scrollbars .underlay {
overflow:auto;
}

.hide-scrollbars,.hide-scrollbars *,.listcontainer {
overflow:hidden;
}

.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars,.yui-panel-container.show-scrollbars,#postlist {
overflow:visible;
}

* html body.masked select,* html div.drag select,* html div.hide-select select {
visibility:hidden;
}

.button-group button.default,.userprofile a.username,.userprofile ul.userstats li span.label {
font-weight:700;
}

#pagemessage,.community #contentbody,#contentbody.maincontent {
margin-top:15px;
}

.form input.text,.buttonform input.text {
margin:0 0 15px;
}

.form textarea.textarea,.buttonform textarea.textarea {
margin:1px 0 15px;
}

.form input.alpha,.buttonform input.alpha {
color:#a0a0a0;
}

.no-boxshadow .ui-create-topic-button:hover,.no-boxshadow .ui-reply-button:hover,.no-boxshadow .ui-post-button:hover {
background-position:0 -40px;
}

.no-boxshadow .ui-create-topic-button.down,.no-boxshadow .ui-reply-button.down,.no-boxshadow .ui-post-button.down {
background-position:0 -80px;
}

.no-boxshadow .ui-create-topic-button.disabled,.no-boxshadow .ui-reply-button.disabled,.no-boxshadow .ui-post-button.disabled {
background-position:0 -120px;
}

.ui-reply-button,.ui-post-button,.ui-save-button {
padding:0 35px;
}

.no-boxshadow .ui-save-button:hover,.no-boxshadow .ui-save-button.down,.no-boxshadow .ui-save-button.disabled {
background-position:0 0;
}

#forumfollownotificationlink,.rankheading * {
display:inline;
}

#leaderboard #content,#content.allgroups,#content.groupmembers,.allgroups .groups,.forum .sectioncontent {
padding:0;
}

.ie7 #leaderboard .bloadmore a,#contentbody {
margin-top:0;
}

.groupheader .container,.groupcontent .sectioncontent .memberlist,#members,#members .memberresources,#groupstatscontainer {
display:block;
overflow:hidden;
}

.groupcontent .sectioncontent,.groupcontent .sectioncontent .content {
padding:20px;
}

.groups,.groupcontent #members .sectioncontent,.groupform {
padding:10px;
}

.forum .posts,.forum th:first-child+th,.forum td:first-child+td {
text-align:center;
}

.rankheading ul,.rankheading li {
padding-left:5px;
}

.innerpading {
	padding: 0 30px 30px 30px;
}
