.idea
dist
*.egg-info

*.pyc

# virtualenv stuff
python/lambda-*/bin/
python/lambda-*/include/
python/lambda-*/lib/
python/lambda-*/local/

python/lambda-*/pip-selfcheck.json

# lambda-uploader stuff
python/*.zip
